<div class="breadcrumbs">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a asp-controller="Catalog" asp-action="Shop">Каталог</a></li>
        <li class="active">Товар 1</li>
    </ol>
</div>